{% extends 'base.html' %}
{% load static %}
{% load tag %}


{% block content %}

<div id="page-header" class="ph-full ph-cap-xxlg ph-ghost-scroll ph-content-parallax">
    <div class="page-header-inner tt-wrap">

        <!-- Begin page header image
        ============================= -->
        <div class="ph-image">
            <div class="ph-image-inner">
               <a href="{% url 'homepage' %}">  <img src="{% if home.head_img %} {{ home.head_img.url }} {% else %}{% static 'assets/img/demo/ph-demo.png' %}{% endif %}"
                     alt="Image"></a>
            </div>
        </div>

        <div class="ph-caption">
            <div class="ph-caption-subtitle">
                <div class="ph-appear">{% if home.title1 %} {{ home.title1 }} {% else %} Powerful {% endif %}</div>
            </div>
            <h1 class="ph-caption-title">
                <div class="ph-appear">{% if home.title2 %} {{ home.title2 }} {% else %} MRIT {% endif %}</div>
            </h1>
            <div class="ph-caption-title-ghost">
                <div class="ph-appear">Website</div>
            </div>
            <div class="ph-caption-description">
                <div class="ph-appear">{% if home.title_discription %} {{ home.title_discription }} {% else %}MRIT is a
                    Creative Portfolio Showcase HTML Website Template. Created with care to highlight your creativity
                    and uniquely promote your services. <em>Dark & Light</em> style included.{% endif %}
                </div>
            </div>
            <a href="{% if home.contact %} {{ home.contact.link }} {% else %}https://t.me/samarkand_coder{% endif %}"
               class="tt-btn tt-btn-primary tt-btn-round margin-top-40 ph-appear" target="_blank" rel="noopener">
                <div data-hover="{% if home.header_buy_hover %} {{ home.header_buy_hover }} {% else %}Aloqa{% endif %}">
                    {% if home.header_buy %} {{ home.header_buy }} {% else %}Dasturchi{% endif %}
                </div>
            </a>
        </div>
        <!-- End page header caption -->

    </div> <!-- /.page-header-inner -->

</div>

<div id="page-content">
    {% if product %}
    <div class="tt-section padding-top-xlg-150 padding-bottom-xlg-150 bg-white-accent-4">
        <div class="tt-section-inner tt-wrap max-width-1700">


            <div class="tt-heading tt-heading-xlg margin-bottom-120 margin-left-lg-13-p anim-fadeinup">
                <h3 class="tt-heading-subtitle">{% if home.portfolio_h3 %} {{ home.portfolio_h3 }} {% else %} Stylish &
                    Flexible {% endif %}</h3>
                <h2 class="tt-heading-title">{% if home.portfolio_h2 %} {{ home.portfolio_h2 }} {% else %} Explore Demos
                    {% endif %}</h2> <!-- You can use <br> to break a text line if needed -->
            </div>
            <!-- End tt-Heading -->


            <div id="portfolio-grid">

                <div class="tt-grid ttgr-layout-3 ttgr-gap-3 ttgr-not-cropped">


                    <div class="tt-grid-items-wrap isotope-items-wrap">
                        {% for i in product %}
                        <div class="tt-grid-item isotope-item pages">
                            <div class="ttgr-item-inner">
                                <div class="portfolio-grid-item">
                                    <a href="{% url 'detail_post' i.pk %}" class="pgi-image-wrap"
                                       data-cursor="View<br>Demo" rel="noopener">
                                        <div class="pgi-image-holder">
                                            <div class="pgi-image-inner anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="{{ i.img.url }}" class="tt-demo-dark-img" alt="image">
                                                    <img src="{{ i.img.url }}" class="tt-demo-light-img" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                                <i class="fa-solid fa-eye" style="color: #ffffff; margin: 10px;"></i>:
                                                {{ i.view }}
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="{% url 'detail_post' i.pk %}" rel="noopener">{{ i.name }}</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">{{ i.category }}</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->

                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!-- End tt-Grid -->
            </div>
            <!-- End portfolio grid -->


            <!-- Begin tt-pagination (uncomment below code if you want to use pagination)
            =========================
            * Use class "tt-pagin-center" to align center.
            -->

            <div class="tt-pagination tt-pagin-center anim-fadeinup">
                {% if product.has_previous %}
                <div class="tt-pagin-prev">
                    <a href="?page={{ product.previous_page_number }}" class="tt-pagin-item magnetic-item"><i
                            class="fas fa-chevron-left"></i></a>
                </div>
                <div class="tt-pagin-numbers">
                    <a href="?page=1" class="tt-pagin-item magnetic-item">1</a>
                    {% else %}
                    <div class="tt-pagin-numbers">
                        {% endif %}

                        {% if product.number|add:'-3' > 1 %}
                        <a class="tt-pagin-item magnetic-item">...</a>
                        {% endif %}

                        {% if product.number|add:'-2' > 1 %}
                        <a class="tt-pagin-item magnetic-item" href="?page={{ product.number|add:'-2' }}">{{ product.number|add:'-2' }}</a>
                        {% endif %}

                        {% if product.number|add:'-1' > 1 %}
                        <a class="tt-pagin-item magnetic-item" href="?page={{ product.number|add:'-1' }}">{{ product.number|add:'-1' }}</a>
                        {% endif %}

                        <a class="tt-pagin-item magnetic-item active">{{ product.number }}</a>

                        {% if product.number < product.paginator.num_pages|add:'-1' %}
                        <a class="tt-pagin-item magnetic-item" href="?page={{ product.number|add:'1' }}">{{ product.number|add:'1' }}</a>
                        {% endif %}

                        {% if product.number < product.paginator.num_pages|add:'-2' %}
                        <a class="tt-pagin-item magnetic-item" href="?page={{ product.number|add:'2' }}">{{ product.number|add:'2' }}</a>
                        {% endif %}

                        {% if product.number < product.paginator.num_pages|add:'-3' %}
                        <a class="tt-pagin-item magnetic-item">...</a>
                        {% endif %}

                        {% if product.has_next %}
                        <a class="tt-pagin-item magnetic-item" href="?page={{ product.paginator.num_pages }}">
                            {{ product.paginator.num_pages }}</a>
                    </div>
                    <div class="tt-pagin-next">
                        <a href="?page={{ product.next_page_number }}"
                           class="tt-pagin-item tt-pagin-next magnetic-item"><i class="fas fa-chevron-right"></i></a>
                    </div>
                    {% endif %}
                </div>
                <!-- End tt-pagination -->

            </div> <!-- /.tt-section-inner -->
        </div>
    </div>
    {% else %}
    <center><h1>Malumotlar Topilmadi</h1></center>
    {% endif %}
    <!-- End tt-section -->


    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css' %}".
    -->
    <div class="tt-section padding-bottom-xlg-150">
        <div class="tt-section-inner tt-wrap">

            <!-- Begin page nav
            ====================
            * Use class "tt-pn-center" to align page nav to center.
            * Use class "tt-pn-stroke" to enable title stroke style.
            -->
            <div class="tt-page-nav tt-pn-stroke tt-pn-center">
                <a href="{% if home.title_footer_link %}{{ home.title_footer_link }}{% else %}https://t.me/samarkand_coder{% endif %}"
                   class="tt-pn-link anim-fadeinup" target="_blank" rel="noopener"
                   data-cursor="<i class='fas fa-arrow-down'></i>">
                    <div class="tt-pn-title">{% if home.title_footer %}{{ home.title_footer }}{% else %}--> Buyurtma
                        <--{% endif %}
                    </div>
                    <div class="tt-pn-hover-title">{% if home.title_footer_hover %}{{ home.title_footer_hover }}{% else
                        %}Aloqaga chiqish{% endif %}
                    </div>
                </a> <!-- /.tt-pn-link -->
                <div class="tt-pn-subtitle anim-fadeinup">{% if home.subtitle %}{{ home.subtitle }}{% else %}Siz ham
                    veb-saytingizni yarating!{% endif %}
                </div>
            </div>
            <!-- End page nav -->
            <div class="tt-sliding-sidebar-wrap">
                <div class="tt-sliding-sidebar">
                    <div class="tt-sliding-sidebar-inner">

                        <!-- Begin sidebar widget -->
                        <div class="sidebar-widget sidebar-search">
                            <h3 class="sidebar-heading">Qidiruv</h3>


                            <form action="{% url 'search' %}">{% csrf_token %}
                                <div class="tt-form-btn-inside">
                                    <input class="tt-form-control" type="text" id="search"
                                           placeholder="Biror narsani yozing va Enter tugmasini bosing" required
                                           name="search">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                            <!-- End form -->

                        </div>
                        <!-- End sidebar widget -->

                        <!-- Begin sidebar widget -->
                        <div class="sidebar-widget sidebar-categories">
                            <h3 class="sidebar-heading">Categories</h3>
                            <ul class="list-unstyled">
                                {% for i in category %}
                                <li><a href="{% url 'categories' i.pk %}">{{ i.name }} <span
                                        title="Entries in this category">{{ i.portfolio_set.all | length }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End sidebar widget -->

                        <!-- Begin sidebar widget -->
                        <div class="sidebar-widget sidebar-post-list">
                            <!-- Can be "Recent Posts" or "Popular Posts" etc. -->
                            <h3 class="sidebar-heading">Popular Posts</h3>
                            <ul class="list-unstyled">
                                {% for i in popular %} <hr>
                                <li>
                                    <div class="sidebar-post-data">
                                        <h5 class="sidebar-post-title"><a href="{% url 'detail_post' i.pk %}"
                                                                          style="font-size: 25px">{{ i.name }}</a></h5>
                                        <span class="sidebar-post-author">By: {% for x in i.coloborator.all %}<a
                                                href="{% url 'author' x.pk %}">{{ x.name }}</a>, &nbsp {% endfor %}</span>
                                        <span class="sidebar-post-date">{{ i.created | vaqt }} oldin</span>
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End sidebar widget -->

                        <!-- Begin sidebar widget -->
                        <div class="sidebar-widget sidebar-comments-list">
                            <h3 class="sidebar-heading">Recent Comments</h3>
                            <ul class="list-unstyled">
                                {% for t in comment %}<hr>
                                <li class="sidebar-comment">
                                    <div class="sidebar-comment-meta">
                                        <div class="sidebar-comment-data">
                                            <span class="sidebar-comment-author"><a href="{% url 'detail_post' t.post.pk %}">{{ t.user }}</a></span>
                                            <span class="sidebar-comment-date">{{ t.created }}</span>
                                        </div>
                                    </div>
                                    <div class="sidebar-comment-text">
                                        {{ t.body | slice:":50" }}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End sidebar widget -->

                        <!-- Begin sidebar widget -->
                        <div class="sidebar-widget sidebar-tags">
                            <h3 class="sidebar-heading">Tags</h3>
                            <div class="sidebar-tags-list">
                                <ul>
                                    {% for i in tag %}
                                    <li><a href="{% url 'tagname' i.pk %}">#{{ i.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- /.sidebar-tags-list -->
                        </div>
                        <!-- End sidebar widget -->

                    </div> <!-- /.tt-sliding-sidebar-inner -->
                </div> <!-- /.tt-sliding-sidebar -->

                <!-- Begin sliding sidebar trigger -->
                <div class="tt-sliding-sidebar-trigger hide-cursor">
                    <span class="tt-ss-icon"><i class="fas fa-bars"></i></span>
                    <span class="tt-ss-icon-close"><i class="fas fa-times"></i></span>
                </div>
                <!-- End sliding sidebar trigger -->

                <!-- Close overlay -->
                <div class="tt-sliding-sidebar-close cursor-close"></div>

            </div>
            <!-- End sliding sidebar -->
        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->


</div>
<!-- End page content -->


{% endblock content %}


